<launch>
    <arg name="gazebo_world"       default="$(find spot_manipulator_config)/worlds/outdoor.world" /> <!-- Path to Gazebo world you want to load. -->
    <arg name="gui"                default="true"/>
    <arg name="paused"             default="true" /> <!-- Set to true to start Gazebo in paused mode. -->
    <arg name="use_sim_time"          default="true"/>
    <arg name="headless"              default="false"/>
    <param name="use_sim_time" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg gazebo_world)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <include file="$(find spot_manipulator_config)/launch/spawn_spot.launch"/>
    <!-- <include file="$(find spot_manipulator_config)/launch/arm_spot.launch"/> -->

</launch>